.form-label{
    color: black;
    padding: 1px;
}

.alert {
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.card {
    height: 200px;
    margin-bottom: 15px;
}

.alert-heading{
    font-size: medium;
}