.form-label{
    color: black;
    padding: 1px;
}
.card-header-id{
    border: 1px solid whitesmoke;
    border-radius: .5rem;
    display: inline-block;
    font-size: medium;
    color: whitesmoke;
    margin-top: 3px;
    padding: .3rem;
}
.alert {
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.card {
    height: 200px;
    margin-bottom: 15px;
}

.alert-heading{
    font-size: medium;
}